In [240]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
from collections import Counter
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
import math

titanic_train = pd.read_csv('./train.csv')
titanic_test = pd.read_csv('./test.csv')

train_predict_labels = ['Age', 'Sex','Pclass','Fare', 'Embarked', 'SibSp', 'Parch']

In [241]:
titanic_train['Age'].fillna(value=int(math.floor(titanic_train['Age'].mean(skipna=True))), inplace=True)
titanic_test['Age'].fillna(value=int(math.floor(titanic_test['Age'].mean(skipna=True))), inplace=True)

In [242]:
titanic_train['Embarked'].fillna(value='S', inplace=True)
titanic_test['Embarked'].fillna(value='S', inplace=True)

In [247]:
titanic_test['Fare'].fillna(value=math.floor(titanic_test['Fare'].mean(skipna=True)), inplace=True)
#Counter(titanic_train['SibSp'].isna())
#Counter(titanic_train['Sex'])

In [210]:
#titanic_train['Sex'] = titanic_train['Sex'].astype('str')
#titanic_train['Pclass'] = titanic_train['Pclass'].astype('str')
#titanic_train['Embarked'] = titanic_train['Embarked'].astype('category')
#Counter(titanic_train['Survived'])
#titanic_train['Survived'] = titanic_train['Survived'].astype('category')

In [248]:
x_train = titanic_train[train_predict_labels]
x_test = titanic_test[train_predict_labels]
y_train = titanic_train['Survived']

In [249]:
labelEncoder = LabelEncoder()
labelEncoder2 = LabelEncoder()
labelEncoder3 = LabelEncoder()

labelEncoder.fit(x_train['Sex'].astype(str))
x_train['Sex'] = labelEncoder.transform(x_train['Sex'].astype(str))
x_test['Sex'] = labelEncoder.transform(x_test['Sex'].astype(str))

labelEncoder2.fit(x_train['Pclass'].astype(str))
x_train['Pclass'] = labelEncoder2.transform(x_train['Pclass'].astype(str))
x_test['Pclass'] = labelEncoder2.transform(x_test['Pclass'].astype(str))

labelEncoder3.fit(x_train['Embarked'].astype(str))
x_train['Embarked'] = labelEncoder3.transform(x_train['Embarked'].astype(str))
x_test['Embarked'] = labelEncoder3.transform(x_test['Embarked'].astype(str))

In [250]:
randomForestModel = RandomForestClassifier(n_estimators=500)
randomForestModel.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=500,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [251]:
randomForestModel.score(x_train, y_train)

0.9764309764309764

In [252]:
predicts = randomForestModel.predict(x_test)

In [253]:
#predicts = np.array(['Survived', predicts])
data = {'PassengerId': np.array(titanic_test['PassengerId']), 'Survived': predicts}

In [254]:
result_predict_data = pd.DataFrame(data, columns=['PassengerId', 'Survived'])

In [255]:
result_predict_data.to_csv('result_predict_data.csv', index=None)

In [256]:
from sklearn.metrics import classification_report, confusion_matrix

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         1
4            896         0
5            897         0
6            898         0
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         1
18           910         0
19           911         0
20           912         1
21           913         1
22           914         1
23           915         1
24           916         1
25           917         0
26           918         1
27           919         1
28           920         1
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         0
391         1283         1
392         1284         0
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         0
404         1296         0
405         1297         0
406         1298         0
407         1299         0
408         1300         0
409         1301         1
410         1302         0
411         1303         1
412         1304         0
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]